// Este archivo contiene funciones que nos pueden resultar útiles en el desarrollo
//--------------------------------------------------------------------------------

$font-base: 16; // No sé si esto debería fijarse por accesibilidad.

// ----- em ----- //
//EM conversor
//use:
// .element{
//   height: em(50, 16);
// }

@function em($target, $context: $font-base) {
  @if ($target == 0) {
    @return 0;
  }

  @else {
    @return #{$target / $context}em;
  }
}

// ----- rem ----- //
//REM conversor
//use:
//  .element {
//    height: rem(50);
//   }
@function rem($size) {
  @return #{$size / $font-base}rem;
}

// ----- pt ----- //
//PT conversor
//use:
//  .element {
//    height: pt(50);
//   }
@function pt($size) {
  @return #{$size / 12}rem;
}
