


.h0 {
	font-size: rem(50);
	font-weight: 500;
}

.h1 {
	font-size: rem(28);
	margin-bottom: 20px;
}

.h2 {
	font-size: rem(22);
	font-weight: 500;
	margin-bottom: 15px;
}

.h3 {
	font-size: rem(19);
	font-weight: 500;
	margin-bottom: 10px;
}
