// Este archivo contiene mixins que nos pueden resultar útiles durante el desarrollo
//-----------------------------------------------------------------------------------

// Font-face
//-----------


// Uso
// @include font-face('gotham', '/fonts/gotham');

//Pseudo: for pseudo-elements
//---------------------------

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

// Ellipsis
//---------

@mixin ellipsis($width: 100%) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
