/*
	Utilidades genéricas
*/

// Oculta elemento pero permanece en el DOM

.invisible {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}


// Wrapper generico

.fit {
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.fixed {
        max-width: 1252px;
    }

}

