// En este archivo estarían todas las variables del proyecto.
// Para el naming de las variables tenemos algo más de libertad, pero como sugerencia de buena práctica
// las variables relacionadas con colores deberían empezar por el prefijo c-, las de fuentes con f-... para una
// identificación más simple y para poder generalizar más el nombre de cada una (p. ej: usar primary, secondary, etc tanto
// para fuentes como para colores.
//-------------------------------------------------------------------------------------------------------------------------

$c-primary: #181F2C;
/*
$c-primary-b: rgba($c-primary, .8);
$c-primary-c: rgba($c-primary, .6);
$c-primary-d: rgba($c-primary, .4);
$c-primary-e: rgba($c-primary, .2);
*/
$c-secondary: #FF4745;
/*
$c-secondary-b: rgba($c-secondary, .8);
$c-secondary-c: rgba($c-secondary, .6);
$c-secondary-d: rgba($c-secondary, .4);
$c-secondary-e: rgba($c-secondary, .2);
*/


$c-main-bg: #F9F9FB;
$c-success: #12B345;
$c-warning: #FAEB60;
$c-info: #373C46;
$c-error: #D0021B;

$c-white: #fff;
$c-black: #000;

$f-primary: "Soho";
$f-secondary: "Montserrat";
$f-weight-medium: 500;

// En ocasiones nos vemos obligados a "duplicar" algunas variables para que semánticamente al usarlas sean más intuitivas.
// Un ejemplo sería el uso del $c-secondary como color también para el estado "danger".
//------------------------------------------------------------------------------------------------------------------------

$s-danger: $c-secondary;

// Siempre deberíamos utilizar las variables más básicas para crear el resto de variables.
//----------------------------------------------------------------------------------------


$size-s: 480px;
$size-m: 1024px;
$size-l: 1280px;


// z-index

$z-header: 10;
$z-shortcut: 15;
$z-user: 20;
$z-menu: 99;
$z-side: 100;


