.card {
	background-color: var(--color-white);
    border-radius: 6px;
    border: 1px solid var(--color-grey-solid-soft);
    box-shadow: var(--global-shadow);
	padding: 25px;
	margin-bottom: 20px;
}
