/*
	Layouts generales
*/

body {
	height: 100vh;
	width: 100%;
}

.app-header {
    width: 100%;
}

.app-main {
	padding-top: 80px;
	background: $c-main-bg;
	height: 100%;
}

.app-footer {
    width: 100%;
}
